body{
    margin: 0;
    padding: 0;
    background-color: #d1ccc0;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

header{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}

a > img{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 30px;
    transition: 0.25s;
}

a>img:hover{
    opacity: 90%;
    transition: 0.25s;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: #323746;
    border-bottom: black solid 1px;
    gap: 20px;
    top:0%;
}

nav h3{
    border-bottom: none;
    padding: 20px 10px 20px 10px;
    margin: 0;
}


nav h3:last-of-type{
    margin-right: 50px;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.25s;
}

a:hover{
    color: #decf85;
    transition: 0.25s;
}

#main{
    margin: 100px 50px;
}

h1{
    font-family: 'Century Gothic', serif;
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}


#nameContainer{
    margin: 0px 150px 0px 0;
    padding: 20px;

}


#nameContainer h2:nth-child(2){
    margin-bottom: -25px;
    margin-top: 100px;
}

#nameContainer img{
    width: 300px;
    height: 300px;
    float: right;
    margin-right: -30px;
    transition: 0.25s;

}

#nameContainer img:hover{
    opacity: 90%;
    transition: 0.25s;
    cursor: pointer;
    z-index: 0;
}

#infoContainer{
    width: 50%;
    margin: 80px auto;
    height: 400px;
    padding: 20px;
    border: solid 1px black;
    background-color: #bab7af;
    border-radius: 10px;
    box-shadow: black 3px 3px 4px;
}

#infoContainer h2{
    font-family: 'Century Gothic', serif;
    text-transform: uppercase;
    margin-top: 0;
}



