@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #d1ccc0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1;
}

a > img{
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    left: 30px;
    transition: 0.25s;
}

a>img:hover{
    opacity: 90%;
    transition: 0.25s;
}

nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 64px;
    background-color: #323746;
    border-bottom: black solid 1px;
}

nav h3{
    border-bottom: none;
    padding: 20px 10px 20px 10px;
    margin: 0;
}


nav h3:last-of-type{
    margin-right: 50px;
}

a{
    text-decoration: none;
    margin: 20px;
    color: white;
    transition: 0.25s;
}

a:hover{
    color: #decf85;
    transition: 0.25s;
}

.icone{
    display: none;
}

#main{
    margin: 100px 50px;
}

h1{
    font-family: 'Century Gothic', serif;
    font-size: 50px;
    margin-top: 100px;
    text-align: center;
}

#gridContainer{
    margin: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 100px;
}

.skillsContainer{
    background-color: #bab7af;
    height: auto;
    padding: 20px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: black 2px 2px 4px;
}

.skillsContainer>h2{
    display: inline-block;
    margin: -10px 0 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 35px;
    text-shadow: 3px 3px 2px black;
}

.skillsContainer i{
    font-size: 28px;
    color: white;
    text-shadow: 3px 3px 2px black;
}

li{
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 20px;
}

@media (max-width: 1240px){
    #gridContainer{
        grid-template-columns: repeat(1, 1fr);
        width: 50%;
        margin: 80px auto;
    }
}

@media(max-width: 872px){
    #gridContainer{
        width: 100%;
        row-gap: 60px;
    }
}
@media(max-width: 487px){
    h1{
        font-size: 40px;
        margin-left: -8px;
    }

    .skillsContainer>h2{
        margin-bottom: 30px;
    }

    .skillsContainer>h2, .skillsContainer>i{
        font-size: 25px;
        display: block;
        text-align: center;
    }

    .skillsContainer li{
        font-size: 22px;
    }

    .skillsContainer>i{
        margin-bottom: 8px;
    }


}